.productos {
    padding: 2rem 1rem;
  }
  
  .productos h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
  }
  